{% extends 'base.html' %}
{% load static %}

<!-- Insertar Estilos -->
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/noticias_inicio.css' %}">
{% endblock stylesheet %}

<!-- Insertar Titulo -->
{% block titulo%} Noticias {% endblock titulo %}

{% block contenido%}
<br>
<br>
<h2>Soy las noticias</h2>
<div class="crear_noticia">
    <button type="submit"><a href="{% url 'noticias:registrar_noticia' %}">CREAR NOTICIA</a></button>
</div>
<a href="{% url 'noticias:inicio' %}"> Todas</a>
{% for c in categorias %}
    <a href="?id={{c.pk}}">{{c.nombre}}</a>
{% endfor %}

<div class="row">
    {% for noticia in noticias %}
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="{{ noticia.imagen.url }}" class="card-img-top" alt="Noticia Imagen">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'noticias:detalle' noticia.pk %}">{{ noticia.titulo }}</a></h5>
                <p class="card-text">{{ noticia.cuerpo }}</p>
                <p>{{ noticia.fecha }}</p>
                <p>Categoría: {{ noticia.categoria_noticia }}</p>
                <a href="{% url 'noticias:detalle' noticia.pk %}" class="btn btn-primary">Ver más</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock contenido%}
