{% extends 'base.html' %}
{% load static %}

{% block titulo%} home {%endblock titulo%}

{% block contenido%}
<div class="main-container">
    <h1>Lorem ipsum dolor sit amet consectetur.</h1>
    <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatum eum reiciendis?</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed excepturi consequatur cum perspiciatis, est illo harum dicta nemo commodi ipsum! Explicabo soluta consequuntur dolor omnis eligendi eos maxime error quasi.</h3>
</div>
<aside class="aside-container">
    <h2>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita, aliquam?</h2>
    <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque fuga alias quod voluptate dolores doloremque quo! Natus quis molestiae deserunt.</h3>
</aside>
<body style="background-image: url(/static/img/fondo_home.jpg);background-repeat: no-repeat;background-size: 1370px 900px;">
{% endblock contenido%}

